body {
  background-image: url(imagens/fundo2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;


}
#perfil {
display: flex;
    flex-direction: column;
    align-items: center;
}
  #perfil img{
    width: 16%;
    height: 250px;
    border-radius: 50%;

  }